@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: 0;
  padding: 0 16px;
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
code,
li {
  font-weight: 300;
  font-family: "Azeret Mono", monospace;
}
