/*
 * DEGEN DOESN'T PROVIDE A CUSTOM THEME
 * IMPLEMENTATION SO OVERRIDE THE CSS VARS
 * TO CUSTOMISE THE COLORS NEEDED
 */

[data-theme="dark"] {
  --colors-black: rgb(0, 0, 0);
  --colors-white: rgb(255, 255, 255);
  --colors-current: currentColor;
  --colors-inherit: inherit;
  --colors-transparent: transparent;
  --colors-background: var(--colors-black);
  --colors-backgroundSecondary: rgb(10, 10, 10);
  --colors-backgroundTertiary: rgb(20, 20, 20);
  --colors-foreground: rgb(255, 255, 255);
  --colors-foregroundSecondary: rgba(255, 255, 255, 0.1);
  --colors-foregroundSecondaryHover: rgba(255, 255, 255, 0.15);
  --colors-foregroundTertiary: rgba(255, 255, 255, 0.04);
  --colors-groupBackground: rgb(10, 10, 10);
  --colors-groupBorder: rgba(255, 255, 255, 0);
  --colors-text: var(--colors-white);
  --colors-textPrimary: rgba(255, 255, 255, 1);
  --colors-textSecondary: rgba(179, 179, 179, 1);
  --colors-textTertiary: rgba(100, 100, 100, 1);
  --colors-yellow: rgb(241, 206, 24);

  --fonts-mono: "Azeret Mono", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --fonts-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --fontSizes-headingOne: 64px;
  --fontSizes-headingTwo: 48px;
  --fontSizes-extraLarge: 32px;
  --fontSizes-large: 24px;
  --fontSizes-small: 14px;
  --fontSizes-extraSmall: 12px;
  --fontSizes-label: 12px;
  --fontSizes-base: 16px;
  --fontSizes-root: 14px;

  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semiBold: 550;
  --fontWeights-bold: 650;

  --letterSpacings--0_02: -0.02em;
  --letterSpacings--0_015: -0.015em;
  --letterSpacings--0_01: -0.01em;
  --letterSpacings-normal: 0;
  --letterSpacings-0_03: 0.03em;
  --lineHeights-2: 2;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-1_25: 1.25;
  --lineHeights-1_375: 1.375;
  --lineHeights-1_5: 1.5;
  --lineHeights-1_625: 1.625;

  --opacity-0: 0;
  --opacity-50: 0.5;
  --opacity-100: 1;

  --radii-none: 0;
  --radii-medium: 0.375rem;
  --radii-large: 0.5rem;
  --radii-extraLarge: 0.75rem;
  --radii-2xLarge: 1rem;
  --radii-3xLarge: 1.5rem;
  --radii-4xLarge: 2.5rem;
  --radii-full: 9999px;

  --shadows-0: 0 0 0 0;
  --shadows-1: 0 0 0 0.25rem;
  --shadows-2: 0 0 0 0.5rem;
  --shadows-none: none;
  --shadows--px: inset 0 0 0 1px;
  --shadows-0_5: 0 0 0 0.125rem;

  --space-0: 0;
  @for $i from 1 through 96 {
    --space-#{$i}: #{$i * 8}px;
  }
  --space-px: 1px;
  --space-0_5: 4px;
  --space-1_5: 6px;
  --space-2_5: 20px;
  --space-3_5: 28px;
  --space-auto: auto;
  --space-full: 100%;
  --space-fit: fit-content;
  --space-max: max-content;
  --space-min: min-content;
  --space-viewHeight: 100vh;
  --space-viewWidth: 100vw;
  --space-none: 0;
}
